.base-layout {
    display: flex;
    flex-wrap: nowrap;
}

.base-layout__sidebar {
    background-color: #1976d2;
    padding: 40px;
    height: 100vh;
    box-sizing: border-box;
    width: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.base-layout__sidebar a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: #fff;
}

.base-layout__sidebar-logo {
    margin-bottom: 10px;
}

.base-layout__sidebar-logo__title {
    margin-left: 10px;
    font-weight: bold;
}

.base-layout__sidebar-footer {
    margin-top: auto;
}

.base-layout__sidebar span.text {
    font-size: 14px;
    display: block;
    margin: 10px 0;
    opacity: 0.8;
}

.base-layout__content {
    width: 100%;
    padding: 20px 40px;
}
